<div id="contactList_view" ng-controller="ContactCtrl">
    <div >
        <table class="table">
            <tr class="animate-repeat" ng-repeat="contact in contactList">
                <td>{{contact.name}}</td>
                <td>{{contact.email}}</td>
                <td><button type="button" class="btn btn-default"  ng-click="deleteContact(contact)">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </button></td>  
            </tr>
        </table>
    </div>
    <div style="float:right">
        <button class="btn btn-primary" type="button" id="newContact" data-toggle="modal" data-target="#contactModal">
            Nouveau <span class="badge">+</span>
        </button>
    </div>

    <div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Nouveau contact</h4>
                </div>
                <div class="modal-body">
                    <form>
                        Nom : <input class="form-control" type ="text" ng-model="user.name"  placeholder="Nom"><br/>
                        Email : <input class="form-control" type ="text" ng-model="user.mail"  placeholder="Email">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary"  ng-click="addNewContact(user)">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>
