<div ng-controller="NewEvenementCtrl">
    <div >
        <form>
            Nom : <input class="form-control" type ="text"   placeholder="Nom"><br/>
            Debut : <input class="form-control datepicker" type ="text" ng-model="evenement.date"   id="dateNewEvenement" placeholder="Date"><br/>
            Heure : <input class="form-control timepicker" type ="text" ng-model="evenement.time"  placeholder="Heure"><br/>
        </form>
    </div>
    <div style="float:right">
        <button class="btn btn-primary" type="button" id="saveNewEvenement" ng-click="addNewEvenement(evenement)">
            Enregistrer <span class="badge glyphicon glyphicon-ok"> </span>
        </button>
    </div>


</div>  
<script>
            // Extend the default picker options for all instances.
            $.extend($.fn.pickatime.defaults, {
               format: 'HH:i',
               interval: 10,
            });
            $(".datepicker").pickadate({
                formatSubmit: 'yyyy/mm/dd',
                hiddenName: true
            });
            $(".timepicker").pickatime();
</script>